.signup_button {
    background: #da70d6 !important;
    width: 75%;
    height: 60px;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 15px !important;
}

.signup_link {
    color: #c71585;
    text-decoration: none;
}
