@import 'normalize.css';
@import './variable';
:root {
    // --primary: #363658;
    // --primary: #f8f8ff;
    --primary: #f8f8ff;
    --text-color: #000;
    // --linear-color: linear-gradient(270deg, #4dffdf 0%, #4da1ff 96.35%);
    --linear-color: linear-gradient(270deg, #0b0742 0%, #120c6e 100%);
    --background-color: #f0f8ff;
    --background-status-bar: #e6e6fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 400;
    line-height: 1.5;
}

.bg {
    background-color: var(--primary);
    color: var(--text-color);
}

a[href] {
    text-decoration: none;
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 0px;
}

// html *::-webkit-scrollbar-track {
//     border-radius: 0;
//     background-color: transparent;
// }

// html *::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: #888;
// }

// html *::-webkit-scrollbar-thumb:hover {
//     background-color: #777;
// }

// Căn chính giữa
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    display: flex;
    justify-content: center;
}

.linear-color {
    background: var(--linear-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
